<p>Total visits: <%= @landing_page_visits.count + @blog_visits.count %></p>
<p>Landing page visits: <%= @landing_page_visits.count %></p>
<p>Blog visits: <%= @blog_visits.count %>
<p>Total users: <%= @users.count %></p>

<% if @ref_codes.count > 0 %>
		<table>
			<thead>
			<tr>
				<th style="padding:10px 20px">Ref Code</th>
				<th style="padding:10px 20px">Ref Code Name</th>
				<th style="padding:10px 20px">Ref Code URL</th>
				<th style="padding:10px 20px">Ref Code created at</th>
				<th style="padding:10px 20px">Total Visits</th>
			</tr>
			</thead>

			<tbody>
			<% @ref_codes.each do |ref_code| %>
			<tr style="border-bottom: 1px solid gray;">				
				<td style="padding:10px 20px"><%= ref_code.ref_code %></td>
				<td style="padding:10px 20px"><%= ref_code.recipient_name %></td>
				<td style="padding:10px 20px"><%= ref_code.recipient_url %></td>
				<td style="padding:10px 20px"><%= ref_code.created_at %></td>
				<td style="padding:10px 20px"><%= Visit.where({ref_code: ref_code.ref_code}).count %></td>
			</tr>
			<% end %>
			</tbody>
		</table>

<% else %>

<p>No ref codes yet</p>

<% end %>

<p>&nbsp;</p>

<% if !@landing_page_visits.empty? %>

<p>Total landing page visits: <%= @landing_page_visits.count %></p>

	<% if @landing_page_visits.count > 0 %>
		<table>
			<thead>
			<tr>
				<th style="padding:10px 20px">Visit ID</th>
				<th style="padding:10px 20px">Date First Visited</th>
				<th style="padding:10px 20px">Signed Up, Yes or No</th>
				<th style="padding:10px 20px">Date Signed Up</th>
				<th style="padding:10px 20px">Ref Code</th>
				<th style="padding:10px 20px">Ref Code Name</th>
				<th style="padding:10px 20px">Ref Code URL</th>
			</tr>
			</thead>

			<tbody>
			<% @landing_page_visits.each do |visit| %>
			<tr style="border-bottom: 1px solid gray;">
				<td style="padding:10px 20px"><%= visit.id %></td>
				<td style="padding:10px 20px"><%= visit.created_at %></td>
				<% if visit.signed_up.nil? || visit.signed_up == false %>
				<td style="padding:10px 20px">No</td>
				<% else %>			
				<td style="padding:10px 20px">YES</td>
				<% end %>
				<% if visit.date_signed_up.nil? %>
				<td style="padding:10px 20px"></td>
				<% else %>			
				<td style="padding:10px 20px"><%= visit.date_signed_up %></td>
				<% end %>
				<% if visit.ref_code.nil? %>
				<td style="padding:10px 20px"></td>
				<td style="padding:10px 20px"></td>
				<td style="padding:10px 20px"></td>
				<% else %>			
				<% rc = RefCode.find_by(ref_code: visit.ref_code) %>
				<td style="padding:10px 20px"><%= visit.ref_code %></td>
				<td style="padding:10px 20px"><%= rc.recipient_name %></td>
				<td style="padding:10px 20px"><%= rc.recipient_url %></td>
				<% end %>
			</tr>
			<% end %>
			</tbody>
		</table>

	<% end %>


<% else %>

<p>No landing page visits yet</p>

<% end %>

<p>&nbsp;</p>

<% if !@blog_visits.empty? %>

<p>Total blog visits: <%= @blog_visits.count %></p>

	<% if @blog_visits.count > 0 %>
		<table>
			<thead>
			<tr>
				<th style="padding:10px 20px">Visit ID</th>
				<th style="padding:10px 20px">Date First Visited</th>
				<th style="padding:10px 20px">Signed Up, Yes or No</th>
				<th style="padding:10px 20px">Date Signed Up</th>
				<th style="padding:10px 20px">Ref Code</th>
				<th style="padding:10px 20px">Ref Code Name</th>
				<th style="padding:10px 20px">Ref Code URL</th>
			</tr>
			</thead>

			<tbody>
			<% @blog_visits.each do |visit| %>
			<tr style="border-bottom: 1px solid gray;">
				<td style="padding:10px 20px"><%= visit.id %></td>
				<td style="padding:10px 20px"><%= visit.created_at %></td>
				<% if visit.signed_up.nil? || visit.signed_up == false %>
				<td style="padding:10px 20px">No</td>
				<% else %>			
				<td style="padding:10px 20px">YES</td>
				<% end %>
				<% if visit.date_signed_up.nil? %>
				<td style="padding:10px 20px"></td>
				<% else %>			
				<td style="padding:10px 20px"><%= visit.date_signed_up %></td>
				<% end %>
				<% if visit.ref_code.nil? %>
				<td style="padding:10px 20px"></td>
				<td style="padding:10px 20px"></td>
				<td style="padding:10px 20px"></td>
				<% else %>			
				<% rc = RefCode.find_by(ref_code: visit.ref_code) %>
				<td style="padding:10px 20px"><%= visit.ref_code %></td>
				<td style="padding:10px 20px"><%= rc.recipient_name %></td>
				<td style="padding:10px 20px"><%= rc.recipient_url %></td>
				<% end %>
			</tr>
			<% end %>
			</tbody>
		</table>

	<% end %>


<% else %>

<p>No blog visits yet</p>

<% end %>

<p>&nbsp;</p>

<% if !@users.empty? %>

<p>Total Users: <%= @users.count %></p>

<table>
	<thead>
		<tr>
			<!-- <th style="padding:10px 20px">Email</th> -->
			<th style="padding:10px 20px">Plan</th>
			<th style="padding:10px 20px">Date Signed Up</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<!-- <td style="padding:10px 20px"><%= user.email %></td> -->
			<td style="padding:10px 20px"><%= user.membership_level %></td>
			<td style="padding:10px 20px"><%= user.created_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>

<p>No users yet</p>

<% end %>