<p>Total Visits: <%= @visits.count %></p>

<p>&nbsp;</p>

<% if !@users.empty? %>

<p>Total Users: <%= @users.count %></p>

<table>
	<thead>
		<tr>
			<!-- <th style="padding:10px 20px">Email</th> -->
			<th style="padding:10px 20px">Plan</th>
			<th style="padding:10px 20px">Date Signed Up</th>
		</tr>
	</thead>

	<tbody>
		<% @users.each do |user| %>
		<tr>
			<!-- <td style="padding:10px 20px"><%= user.email %></td> -->
			<td style="padding:10px 20px"><%= user.membership_level %></td>
			<td style="padding:10px 20px"><%= user.created_at %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<% else %>

<p>No users yet</p>

<% end %>